


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0, 0%, 98%)
  --foreground: hsl(0, 0%, 8%)
   --gray: hsl(0, 0%, 41%)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0, 0%, 98%)
    --foreground: hsl(0, 0%, 8%)
    --almostBlack : hsl(0, 0%, 8%)
    --gray: hsl(0, 0%, 41%)
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    /* Start off the screen to the right */
  }

  to {
    transform: translateX(0);
    /* Slide into place */
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    /* Start at position */
  }

  to {
    transform: translateX(100%);
    /* Slide off the screen to the right */
  }
}

.animate-slide-in {
  animation: slideIn 0.5s ease forwards;
}

.animate-slide-out {
  animation: slideOut 0.5s ease forwards;
}
